button
    display: flex
    align-items: center
    justify-content: center
    width: 200px
    height: 40px
    appearance: none
    background-color: #247ba0
    color: #ffffff
    border: none

    &:hover
        background-color: #418fb1
